{
  "env": {
    "browser": false,
    "es2020": true,
    "jest": true
  },
  "extends": [
    "airbnb-base",
    "plugin:jest/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": ["jest"],
  "rules": {
    "import/extensions": ["error", "ignorePackages"],
    "no-console": "off",
    "no-shadow": "off",
    "no-restricted-syntax": [
      "error",
      "LabeledStatement",
      "WithStatement"
    ]
  },
  "overrides": [
    {
      "files": ["*.js"],
      "excludedFiles": "babel.config.js"
    }
  ]
}
